  <header>
    <app-search-bar-component (searchTermChanged)="onSearch($event)"></app-search-bar-component>
  </header>
  <div id="notHeader">
  @if (!searchTerm2.trim()){
    <h3>Search Albums by Artist Name: </h3>
  }
  @else {
    <h2>{{songs.length}} results for {{searchTerm2}}</h2>
  }
  <hr />
  <div class="grid">
    @for (s of songs; track s.trackId) {
      <div class="card">
        <img [src]="s.artworkUrl100">
        <h4>{{s.trackName}}</h4>
      </div>
    }
  </div>
</div>
<router-outlet />
